.App {
  width: 80%;
  display: flex;
  margin-left: 300px;
}
body{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
 }
 .sidebarr{
  position: fixed;
 }

